.qomolangma {
    background-image: url('images/accueil_guille-pozzi-night.jpg');
    color:rgb(255, 255, 243);
    text-align: left;
    vertical-align: middle;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
  }

  #intru{
    font-style: italic;
  }
