.qomolangma {
    background-image: url('images/accueil_nils-leonhardt-qomolangma-unsplash.jpg');
    color:rgb(255, 255, 243);
    text-align: left;
    vertical-align: middle;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
  }

.italic{
    font-style: italic;
    font-size:smaller;
  }
